<h1>Dots and Boxes</h1>

<%=javascript_tag do%>
    window.size = <%= @size %>;
<% end %>


<canvas width="410" height="410" style="margin:0 auto; display:block;"></canvas>
<script>
    var dispatcher = new WebSocketRails('localhost:3000/websocket');

    dispatcher.on_open = function(data) {
        console.log('Connection has been established: ', data);
        // You can trigger new server events inside this callback if you wish.

        var comment = {
            title: 'This post was awful',
            body: 'really awful',
            post_id: 9
        }
        dispatcher.trigger('test', comment, function(response) {
            console.log('response:')
            console.log(response)
        });
    }
</script>
